<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>

<body>
    {{>header}}
    <div class="container">
        <img src="img/robot.png" class="img-fluid" />
        <p>{{name}}</p>
    </div>
    {{>footer}}
</body>

</html>