<!DOCTYPE html>
<html>

<head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>

<body>
    {{>header}}
    <div class="container">
        <form>
            <div class="form-group">
                <label form="weather-text">Enter location name: </label>
                <input type="text" class="form-control" id="weather-text">
                <button class="btn btn-info">Search</button>
            </div>
        </form>
        <div>
            <p id="message1">
    
            </p>
            <p id="message2">

            </p>
        </div>
    </div> 
    {{>footer}}
</body>
<script src="/js/script.js"></script>
</html>