<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>

<body>
    {{>header}}
    <div class="container">
        
    </div> 
    {{>footer}}
</body>

</html>